@use "../../styles/partials/breakpoints" as bkpt;
@use "../../styles/partials/colors" as clr;
@use "../../styles/partials/fonts" as fnt;
@use "../../styles/partials/mixins" as mxn;

.comments {
  &__form-flex {
    display: flex;
    padding: 1rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid clr.$divider-outline;

      @include bkpt.large{
   border-bottom: none; 
  }
  }

  &__profile-pic {
    @include mxn.profile-pic;
    background-image: url("../../assets/images/Mohan-muruge.jpg");
    margin: 0;
    margin-top: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    flex-grow: 2;
  }

  &__label {
    @include mxn.small-subhead;
    color: clr.$text-label;
    padding-bottom: 0.25rem;
  }

  &__form-comment {
    @include mxn.small-form-field;
    color: clr.$primary-text;
    height: 5rem;
    resize: none;
    &:focus {
      outline: none;
      border-width: 2px;
      border-style: solid;
      border-color: clr.$primary-cta;
    }
  }
  
      &__input-wrapper {
        display: flex;
        flex-direction: column;

      }

  &__button {
    @include mxn.cta;
    background-image: url(../../assets/icons/add_comment.svg);
    @include mxn.background-icon;
    margin-top: 1rem;
  }

  @include bkpt.medium {
    &__form-flex {
      padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    }
    &__input-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
    }
    &__form {
      flex-direction: row;
      align-items: center;
    }

    &__button {
      margin-left: 1.5rem;
      margin-top: 1.25rem;
      padding-right: 1.25rem;
    }

    &__profile-pic {
      @include mxn.med-profile;
    }

    &__form-comment {
      @include mxn.med-copy;
      height: 2.5rem;
      padding: 0.45rem;
      padding-left: 1rem;
    }
  }

}
