.comments{
    &__form-flex{
        display: flex;
    }

    &__profile-pic{
        width: 2rem;
        height: 2rem;
        background-color: #000;
        border-radius: 50%;
        margin: 0;
    }

    &__form{
        display: flex;
        flex-direction: column;
    }
}