@use "../../styles/partials/breakpoints" as bkpt;
@use "../../styles/partials/colors" as clr;
@use "../../styles/partials/fonts" as fnt;
@use "../../styles/partials/mixins" as mxn;

.hero {
  width: 100%;

  &__video {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-height: 45rem;
    background-color: clr.$video-components;
  }

  &__title {
    margin: 0;
    padding: 1rem;
    padding-top: 1.5rem;
    @include mxn.small-page-head;
  }

  &__stats {
    display: flex;
    justify-content: flex-start;
    margin: 0 1rem;

    border-top: 1px solid clr.$divider-outline;
    border-bottom: 1px solid clr.$divider-outline;
    color: clr.$text-label;
    @include mxn.small-copy;
    @include bkpt.large{
      margin-right: 0;
    }
  }
  &__channel {
    @include mxn.small-subhead;
    color: clr.$primary-text;
    padding-bottom: 1rem;
  }
  &__views {
    background-image: url("../../assets/icons/views.svg");
    @include mxn.background-icon;
    background-position: 0;
    padding-left: 1.75rem;
  }

  &__likes {
    background-image: url("../../assets/icons/likes.svg");
    @include mxn.background-icon;
    background-position: 0;
    padding-left: 1.5rem;
  }
  &__top {
    padding: 1rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    padding: 1rem;
    padding-left: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__description {
    padding: 1rem;
    @include mxn.small-copy;
  }
  &__comments{
    @include mxn.small-subhead;
    padding-left: 1rem;
  }

  @include bkpt.medium {
    &__video {
      aspect-ratio: 16/9;
    }
     &__comments{

    padding-left: 1.5rem;
  }

    &__title {
      @include mxn.med-page-head;
      padding-bottom: 0;
      padding-left: 1.5rem;
    }
    &__stats {
      border-top: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mxn.med-copy;
    }
    &__top {
      flex-direction: row;
      align-items: center;
    }
    &__bottom {
      flex-direction: row;
    }
    &__channel {
      @include mxn.med-subhead;
      padding: 0rem 1.5rem 0rem 0.5rem;
    }
    &__likes {
      padding: 0 0.5rem 0 1.25rem;
    }
    &__views {
      padding-right: 1.5rem;
    }

    &__description {
      @include mxn.med-copy;
      padding: 1.5rem;
    }
  }
  @include bkpt.large {
    &__video {
      padding: 0;
      margin-left: -3.25rem;
    }

  }
}
