@use './partials/breakpoints' as bkpt;
@use './partials/colors' as clr;
@use './partials/fonts' as fnt;
@use './partials/mixins' as mxn;

body,
html {
  margin: 0;
  font-family: "Avenir", sans-serif;
  box-sizing: border-box;
  color: clr.$primary-text;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@include bkpt.large{
  .large-flex{
    display: flex;

  }
  .left{
    width: 65%;
    padding-left: 3.25rem;
  }


}