.card{
    color: #000;
    width: 100vw;
    height: 4rem;
display: flex;
margin: 1rem;

&__image{
    width: 6rem;
    height: 4rem;
    border-radius: .25rem;
}

&__title{
    font-weight: bold;
}
}