@use "../../styles/partials/breakpoints" as bkpt;
@use "../../styles/partials/colors" as clr;
@use "../../styles/partials/fonts" as fnt;
@use "../../styles/partials/mixins" as mxn;

.header {
  display: flex;
  flex-direction: column;
  background: clr.$background-n-cta;
&__search{
    display: flex;

}
&__search-input{
    @include mxn.small-form-field;

}


&__upload{
    display: flex;
}
  &__logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }

  &__button {
    @include mxn.cta;
  }

  &__profile-pic {
    margin: 0;
    @include mxn.profile-pic;
  }
}
